table {
  width: 100%;
}

.loading {
  opacity: 0.5;
  pointer-events: none;
}

table.person th {
  width: 20%;
}

tr.selected {
  font-weight: bolder;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

th {
  vertical-align: top;
  white-space: nowrap;
}

.buttons {
  padding: 8px;
  text-align: right;
}

button {
  margin-right: 8px;
}